
// start contact us
.contactUS {
    background-color: $secoundColor;
    color: $w;
    padding: 80px 0;
    font-size: 23px;

    p {
        margin: 0;
    }

    a {
        color: $w;
        border: 2px solid $w;
        padding: 6px 15px 8px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
    }
}

// end contact us