//start featured work
.featured-work {
    padding: 100px 0;

    h2 {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 20px;
    }

    p {
        line-height: 1.6;
        font-size: 20px;
        width: 80%;
        margin: 0 auto 15px;
        color: #6a6a6a;
    }

    ul {
        margin-top: 40px;

        li {
            color: $mainColor;
            border: 2px solid $mainColor;
            padding: 10px 10px;
            font-size: 20px;
            font-weight: bold;
            margin: 0 0 20px 10px;
            font-size: 20px;
            @include transition (all .5s ease-in-out);

            &:hover {
                background-color: $secoundColor;
                border: 2px solid $secoundColor;
                color: $w;
                cursor: pointer;
            }
        }

        .active {
            background-color: $secoundColor;
            border: 2px solid $secoundColor;
            color: $w;
            cursor: pointer;
        }
    }

    .shuffle-imges {
        .row {
            margin: 0;

            .col-md-12 {
                padding: 0;

                img {
                    width: 300px;
                    height: 300px;
                    @include transition (all .5s ease-in-out);
                }
            }
        }

        .margin-top-bottom {
            margin: 50px 0 5px 0;
        }
    }

}
//end featured work